@import "variables";

body {
  background-image: url("../image/texture_bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "roboto", san-serif, medium;
}

.canvas {
    width: 90%;
    height: 90%;
    background-color: $mywhite;
    border: 1px solid black;
}