@import "blocktags";
@import "variables";



.myfooter{
    background-color: $mygrey;
    color: $mygrey !important;
    height: 70px;
    vertical-align: middle;
    padding: 2%;
    margin-top: 20px;
}

// my designed card
.my-card {
      border: solid 1px $myred !important;
      text-align: center !important;
      display: table !important;
      margin: auto !important;
      width: 100%;
      height: auto;
    
    &-image{
        width: 50%;
        height: inherit;
    } 
    &:hover{
        box-shadow: 2px 2px 2px 2px grey;
    }
    
}

.play_button{
    border-radius: 50% !important;
    min-height: 70px;
    min-width: 70px;
    
}
.heading_img{
    max-width: 200px;
}


.game-style{
    width: 100%;
    max-height: 100%;
    border: solid 1px;
  
}


//.input:checked ~ #option_select{
//    border:2px solid green;
//    font-weight: bold !important;
//    background:yellow;
//    color: red !important;
//}

//.nav{
//    &bar {
//        box-shadow: 5px 5px 5px 5px grey !important;
//        &-light{
//            background-color: $mygrey !important;
//            border: none !important;
//        }
//        &:hover{
//            box-shadow: 5px 5px 5px 5px $myblack !important;
//        }
//    }
//    &-link{
//        color: $mypurple !important;
//        &:hover{
//            color: black !important;
//        }
//    }
//    
//}

//.my-card {
//    border: solid 1px $mypurple !important;
//    text-align: center !important;
//    display: table !important;
//    margin: auto !important;
//    width: 85%;
//    &-image {
//        width: 100%;
//        height: inherit;
//    }
//    &:hover{
//        box-shadow: 2px 2px 2px 2px grey;
//    }
//    &-button {
//        background-color: $mypurple;
//        color: white !important;
//        width: 100%;
//        &:hover{
//            color: black !important;
//            box-shadow: 2px 2px 2px 2px black;
//        }
//
//    }
//}
//
//
//.card-body, .card-header, .card-footer {
//        padding: 1px !important;
//        margin: 1px !important;
//    }

//
//
//@media screen and (max-width: 768px) {
//    .inner{
//        height: 100px;
//    }
//    .card-body, .card-header, .card-footer {
//        padding: 0px !important;
//        margin: 0px !important;
//    }
//}
//@media screen and (max-width: 1200px) {
//    .inner{
//        height: 100px;
//    }
//    .card-body, .card-header, .card-footer {
//        padding: 1px !important;
//        margin: 1px !important;
//    }
//}
